@model IEnumerable<ReservasiMeetingRoom.Models.tblM_Ruangan>
@{
    ViewBag.Title = "Edit Reservasi Meeting Room";
}
<h2>@ViewBag.Title.</h2>

<form>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Ruangan</label>
                <input type="text" class="form-control" disabled id="ruangan">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" id="subject">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <div class="form-group">
                <label for="subject">Tanggal</label>
                <input type="date" class="form-control" id="subject">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="subject">Jam Mulai</label>
                <input type="time" class="form-control" id="subject">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="subject">Jam Selesai</label>
                <input type="time" class="form-control" id="subject">
            </div>
        </div>
    </div>
    <button type="submit">Save Edit Reservasi Meeting Room</button>
</form>
